{% extends 'base.html' %}
{% block title %}Giris{% endblock %}
{% block body %}
<h2>TransferDB - Giris</h2>
<form method="POST" action="{{ url_for('login') }}">
  <div class="kv">
    <label>Rol:</label>
    <select name="role" required>
      <option value="Player">Oyuncu</option>
      <option value="Manager">Menajer</option>
      <option value="Referee">Hakem</option>
      <option value="DBManager">Veritabani Yoneticisi</option>
    </select>
    <label>Kullanici adi:</label><input name="username" required>
    <label>Sifre:</label><input type="password" name="password" required>
  </div>
  <br><button type="submit">Giris Yap</button>
</form>
<p><a href="{{ url_for('register') }}">Hesap yok? Kayit Ol</a></p>
{% endblock %}
