<!DOCTYPE html>
<html>
<head>
    <title>TransferDB - Login</title>
</head>
<body>
    <h2>TransferDB Giris</h2>
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST" action="/login">
        <label>Rol:</label>
        <select name="role">
            <option value="Player">Player</option>
            <option value="Manager">Manager</option>
            <option value="Referee">Referee</option>
            <option value="DBManager">Database Manager</option>
        </select><br><br>
        
        <label>Kullanici Adi:</label>
        <input type="text" name="username" required><br><br>
        
        <label>Sifre:</label>
        <input type="password" name="password" required><br><br>
        
        <button type="submit">Giris Yap</button>
    </form>
    <br>
    <a href="/register">Hesabin yok mu? Kayit ol</a>
</body>
</html>
